@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css);label {
  margin: 0;
}
/*-------------------WOW--------------------------*/
:root {
  --htmlFontSize: 100%;
  --bodyBackgroundColor: #2c3338;
  --bodyColor: var(--baseColor);
  --bodyFontFamily: 'Open Sans';
  --bodyFontFamilyFallback: sans-serif;
  --bodyFontSize: 0.875rem;
  --bodyFontWeight: 400;
  --bodyLineHeight: 1.5;
}
:root {
  --loginBorderRadus: 0.25rem;
  --loginColor: #eee;
  --loginInputBackgroundColor: #3b4148;
  --loginInputHoverBackgroundColor: #434a52;
  --loginLabelBackgroundColor: #363b41;
  --loginSubmitBackgroundColor: #ea4c88;
  --loginSubmitColor: #eee;
  --loginSubmitHoverBackgroundColor: #d44179;
}
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 12px;
  height: 100%;
}
body {
  background-color: #ececec;
  color: var(--bodyColor);
  font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
  font-size: 12px;
  font-weight: var(--bodyFontWeight);
  height: 100%;
  line-height: var(--bodyLineHeight);
  margin: 0;
  min-height: 100%;
}
a {
  color: #64697a;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
li {
  list-style: none;
}
ul {
  margin: 0;
  padding: 0;
}
/*hoverアニメ*/
#Header_line {
  background: #191919;
  padding: 10px;
  width: 100%;
  font-size: 12px;
  color: #FFF;
  position: relative;
  z-index: 9999;
}
#Wrapper {
  overflow: hidden;
}
#Navbar {
  overflow: hidden;
  background-color: #191919;
  color: #d0d0d0;
  position: fixed;
  width: 100%;
  padding: 11px;
  z-index: 9999;
  font-size: 12px;
}
#Navbar a {
  color: #d0d0d0;
}
#Navbar .header_logo {
  width: 240px;
}
#Navbar .header_logo img {
  max-width: 100%;
}
#Navbar .icon {
  display: inline-block;
  fill: var(--iconFill);
  font-size: 12px;
  height: 20px;
  vertical-align: middle;
  width: 1em;
}
#Navbar .icons {
  display: none;
}
#Navbar .button a {
  border-radius: 51px;
  background-color: #373737;
  /* color: #FFF; */
  padding: 10px;
  width: 102px;
  text-align: center;
  display: block;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}
#Navbar .button a:hover {
  background-color: #595959;
}
#Navbar .navbar-right {
  margin-right: 0;
}
#Navbar .navbar-right .auther {
  margin: 7px 20px 0 0;
}
#Navbar .navbar-right li {
  float: left;
  color: #ececec;
  margin: 0 10px;
}
#Navbar .navbar-right li a {
  color: #ececec;
}
#Loading {
  position: fixed;
  background-color: rgba(53, 53, 53, 0.8);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* display: none; */
  overflow: auto;
  z-index: 99999;
}
#Loading .loading {
  width: 160px;
  height: 160px;
  border-radius: 150px;
  border: 15px solid #fff;
  border-top-color: #41b883;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -80px;
  margin-left: -80px;
  animation: loading 1.2s linear infinite;
  -webkit-animation: loading 1.2s linear infinite;
}
@keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
.overlay {
  position: absolute;
  background: rgba(220, 220, 220, 0.8);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  -webkit-transition: opacity 1s ease .4s;
  transition: opacity 1s ease .4s;
}
.overlay.enter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 1;
  -webkit-animation: router-transition-in 0.4s;
          animation: router-transition-in 0.4s;
}
.overlay.leave {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0;
}
.loading-anime {
  width: 18px;
  height: 18px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 2px solid transparent;
  border-top-color: red;
  border-left-color: red;
  border-radius: 50%;
  -webkit-animation: nprogress-spinner 0.4s linear infinite;
  animation: nprogress-spinner 0.4s linear infinite;
}
#Sidebar {
  background-color: #191919;
  width: 16%;
  padding: 0;
  position: fixed;
  top: 60px;
  height: 100%;
  font-size: 12px;
  z-index: 9999;
}
#Sidebar .sidebar-toggle {
  margin-left: -240px;
}
#Sidebar .sidebar {
  background-color: #191919;
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transition: all 0.3s ease-in-out-out;
  transition: all 0.3s ease-in-out-out;
  z-index: 100;
}
#Sidebar .sidebar #leftside-navigation ul,
#Sidebar .sidebar #leftside-navigation ul ul {
  padding: 0;
}
#Sidebar .sidebar #leftside-navigation ul li {
  list-style-type: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}
#Sidebar .sidebar #leftside-navigation ul li.active > a {
  color: #d0d0d0;
}
#Sidebar .sidebar #leftside-navigation ul li.active ul {
  overflow: hidden;
}
#Sidebar .sidebar #leftside-navigation ul li a {
  color: #d0d0d0;
  text-decoration: none;
  display: block;
  padding: 18px 0 18px 25px;
  font-size: 12px;
  outline: 0;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}
#Sidebar .sidebar #leftside-navigation ul li a:hover {
  background-color: #41b883;
}
#Sidebar .sidebar #leftside-navigation ul li a span {
  display: inline-block;
}
#Sidebar .sidebar #leftside-navigation ul li a i {
  width: 20px;
}
#Sidebar .sidebar #leftside-navigation ul li a i .fa-angle-left,
#Sidebar .sidebar #leftside-navigation ul li a i .fa-angle-right {
  padding-top: 3px;
}
#Sidebar .sidebar #leftside-navigation ul ul li {
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  border-bottom: none;
}
#Sidebar .sidebar #leftside-navigation ul ul li a {
  font-size: 12px;
  padding-top: 13px;
  padding-bottom: 13px;
  color: #d0d0d0;
}
#Main {
  padding-top: 60px;
  padding-bottom: 50px;
  overflow: hidden;
}
#Postlist {
  width: 80%;
  float: right;
  margin: 2% 2%;
}
#Postlist #Post_title {
  font-size: 12px;
  padding: 5px;
  font-weight: bold;
  margin-bottom: 0;
  margin-right: 10px;
  border-bottom: 3px solid #41b883;
}
#Postlist #table-content {
  background: #fff;
  width: auto;
  height: 90%;
  margin-top: 20px;
}
#Postlist #table-content td a {
  color: #000;
}
#Postlist #table-content table {
  width: 100%;
}
#Postlist #table-content thead {
  background: #191919;
  color: #FFF;
}
#Postlist #table-content thead tr {
  text-align: center;
}
#Postlist #table-content thead tr td {
  color: #ececec;
  font-size: 12px;
  text-transform: uppercase;
  padding: 14px 10px;
}
#Postlist #table-content tbody tr td {
  padding: 14px 10px;
  font-size: 12px;
  border-bottom: 7px solid #ececec;
}
#Postlist #table-content tbody tr:hover {
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  background: #eff1f3;
}
#Postlist .check-td-tr {
  width: 3%;
}
#Postlist .check-td-tr input {
  display: none;
}
#Postlist .check-td-tr [type="checkbox"]:checked,
#Postlist .check-td-tr [type="checkbox"]:not(:checked) {
  position: absolute;
  left: -9999px;
}
#Postlist .check-td-tr [type="checkbox"]:checked + label,
#Postlist .check-td-tr [type="checkbox"]:not(:checked) + label {
  position: relative;
  cursor: pointer;
  line-height: 20px;
  display: block;
  color: #666;
  top: -7px;
  left: 4px;
}
#Postlist .check-td-tr [type="checkbox"]:checked + label:before,
#Postlist .check-td-tr [type="checkbox"]:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 15px;
  height: 15px;
  border: 1px solid #ddd;
  background: #fff;
}
#Postlist .check-td-tr [type="checkbox"]:checked + label:after,
#Postlist .check-td-tr [type="checkbox"]:not(:checked) + label:after {
  content: '';
  width: 7px;
  height: 7px;
  background: #41b883;
  position: absolute;
  top: 4px;
  left: 4px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
#Postlist .check-td-tr [type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
#Postlist .check-td-tr [type="checkbox"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
#Postlist .check-td-tr [type="checkbox"]:disabled:checked + label:before,
#Postlist .check-td-tr [type="checkbox"]:disabled:not(:checked) + label:before {
  border-color: #ccc;
  background-color: #eee;
}
#Postlist .check-td-tr [type="checkbox"]:disabled:checked + label:after {
  background: #aaa;
}
#Postlist .id-td {
  width: 3%;
  text-align: center;
}
#Postlist .name-td {
  width: 40%;
}
#Postlist .date-td {
  text-align: center;
  width: 8%;
}
#Postlist .acknowledge-td {
  text-align: center;
  width: 8%;
}
#Postlist .checked {
  background: #eff1f3;
}
#Postlist #credit {
  width: 300px;
  margin: 0 auto;
  font-size: 12px;
  text-align: center;
}
#Postlist #Pagination {
  text-align: center;
  margin-top: 30px;
}
#Postlist #Pagination .pager-list,
#Postlist #Pagination .pager-item {
  display: inline-block;
  margin: 0;
  padding: 0;
}
#Postlist #Pagination .pager-list {
  background: #333;
}
#Postlist #Pagination .pager-item a {
  display: block;
  padding: 12px;
  color: #fff;
  text-decoration: none;
}
#Postlist #Pagination .pager-item-active span,
#Postlist #Pagination .pager-item {
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}
#Postlist #Pagination .pager-item-active span:hover,
#Postlist #Pagination .pager-item:hover {
  background-color: #3b3b3b;
}
#Postlist #Edit_box {
  margin: 0 auto;
  padding: 25px 0;
  width: 90%;
}
#Postlist #Edit_box .form_title {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 12px;
}
#Postlist #Edit_box .required::after {
  font-size: 12px;
  content: '*';
  padding-left: 4px;
  color: #ea2c00;
}
#Postlist #Edit_box .error_text {
  color: #ea2c00;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
#Postlist #Edit_box .form_field {
  margin-bottom: 30px;
  /*------- input[text] -------*/
  /*------- textarea -------*/
  /*------- file -------*/
  /*------- checkbox -------*/
  /*------- radiobutton -------*/
}
#Postlist #Edit_box .form_field ul li {
  margin-bottom: 10px;
}
#Postlist #Edit_box .form_field ul li:last-child {
  margin-bottom: 0;
}
#Postlist #Edit_box .form_field input {
  outline: none;
}
#Postlist #Edit_box .form_field input[type=text] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  font-family: inherit;
  font-size: 12px;
  width: 90%;
}
#Postlist #Edit_box .form_field input::-webkit-text-decoration,
#Postlist #Edit_box .form_field input::-webkit-text-cancel-button {
  display: none;
}
#Postlist #Edit_box .form_field input[type=text] {
  border: solid 1px #ccc;
  padding: 10px 20px;
  border-radius: 10em;
  -webkit-transition: all .5s;
  transition: all .5s;
}
#Postlist #Edit_box .form_field input[type=text]:focus {
  background-color: #fff;
  border-color: #41b883;
  -webkit-box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
  box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
}
#Postlist #Edit_box .form_field input:-moz-placeholder {
  color: #999;
}
#Postlist #Edit_box .form_field input::-webkit-input-placeholder {
  color: #999;
}
#Postlist #Edit_box .form_field #editor .view-area {
  border: solid 1px #ccc;
  padding: 20px;
}
#Postlist #Edit_box .form_field textarea,
#Postlist #Edit_box .form_field #editor div {
  display: inline-block;
  width: 49%;
  height: 300px;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#Postlist #Edit_box .form_field textarea {
  border: none;
  border: solid 1px #ccc;
  resize: none;
  outline: none;
  background-color: #f6f6f6;
  font-size: 14px;
  font-family: 'Monaco', courier, monospace;
  padding: 20px;
  -webkit-transition: all .5s;
  transition: all .5s;
}
#Postlist #Edit_box .form_field textarea::-webkit-text-decoration,
#Postlist #Edit_box .form_field textarea::-webkit-text-cancel-button {
  display: none;
}
#Postlist #Edit_box .form_field textarea:focus {
  background-color: #fff;
  border-color: #41b883;
  -webkit-box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
  box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
}
#Postlist #Edit_box .form_field textarea:-moz-placeholder {
  color: #999;
}
#Postlist #Edit_box .form_field textarea::-webkit-input-placeholder {
  color: #999;
}
#Postlist #Edit_box .form_field .fileup_field img {
  max-width: 300px;
  height: auto;
  margin-top: 10px;
  -webkit-transition: all .5s;
  transition: all .5s;
}
#Postlist #Edit_box .form_field .fileup_field .btn-tertiary {
  color: #ececec;
  padding: 0;
  line-height: 33px;
  width: 102px;
  display: block;
  background-color: #41b883;
  border-radius: 51px;
}
#Postlist #Edit_box .form_field .fileup_field .btn-tertiary:hover,
#Postlist #Edit_box .form_field .fileup_field .btn-tertiary:focus {
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}
#Postlist #Edit_box .form_field .fileup_field .btn-tertiary:hover:hover,
#Postlist #Edit_box .form_field .fileup_field .btn-tertiary:focus:hover {
  background-color: #63daa5;
}
#Postlist #Edit_box .form_field .fileup_field input[type='file'] {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
#Postlist #Edit_box .form_field .fileup_field input[type='file'] + .js-labelFile {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0 10px;
  cursor: pointer;
}
#Postlist #Edit_box .form_field .fileup_field input[type='file'] + .js-labelFile .icon:before {
  content: "\F093";
}
#Postlist #Edit_box .form_field .fileup_field input[type='file'] + .js-labelFile.has-file .icon:before {
  content: "\F00C";
  color: #5AAC7B;
}
#Postlist #Edit_box .form_field [type="checkbox"]:checked,
#Postlist #Edit_box .form_field [type="checkbox"]:not(:checked) {
  position: absolute;
  left: -9999px;
}
#Postlist #Edit_box .form_field [type="checkbox"]:checked + label,
#Postlist #Edit_box .form_field [type="checkbox"]:not(:checked) + label {
  position: relative;
  cursor: pointer;
  line-height: 20px;
  display: block;
  color: #666;
  padding-left: 30px;
}
#Postlist #Edit_box .form_field [type="checkbox"]:checked + label:before,
#Postlist #Edit_box .form_field [type="checkbox"]:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border: 1px solid #ddd;
  background: #fff;
}
#Postlist #Edit_box .form_field [type="checkbox"]:checked + label:after,
#Postlist #Edit_box .form_field [type="checkbox"]:not(:checked) + label:after {
  content: '';
  width: 10px;
  height: 10px;
  background: #41b883;
  position: absolute;
  top: 5px;
  left: 5px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
#Postlist #Edit_box .form_field [type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
#Postlist #Edit_box .form_field [type="checkbox"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
#Postlist #Edit_box .form_field [type="checkbox"]:disabled:checked + label:before,
#Postlist #Edit_box .form_field [type="checkbox"]:disabled:not(:checked) + label:before {
  border-color: #ccc;
  background-color: #eee;
}
#Postlist #Edit_box .form_field [type="checkbox"]:disabled:checked + label:after {
  background: #aaa;
}
#Postlist #Edit_box .form_field [type="radio"]:checked,
#Postlist #Edit_box .form_field [type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}
#Postlist #Edit_box .form_field [type="radio"]:checked + label,
#Postlist #Edit_box .form_field [type="radio"]:not(:checked) + label {
  position: relative;
  cursor: pointer;
  line-height: 20px;
  display: block;
  color: #666;
  padding-left: 30px;
}
#Postlist #Edit_box .form_field [type="radio"]:checked + label:before,
#Postlist #Edit_box .form_field [type="radio"]:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 50%;
}
#Postlist #Edit_box .form_field [type="radio"]:checked + label:after,
#Postlist #Edit_box .form_field [type="radio"]:not(:checked) + label:after {
  content: '';
  width: 10px;
  height: 10px;
  background: #41b883;
  position: absolute;
  top: 5px;
  left: 5px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  border-radius: 50%;
}
#Postlist #Edit_box .form_field [type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
#Postlist #Edit_box .form_field [type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
#Postlist #Edit_box .form_field [type="radio"]:disabled:checked + label:before,
#Postlist #Edit_box .form_field [type="radio"]:disabled:not(:checked) + label:before {
  border-color: #ccc;
  background-color: #eee;
}
#Postlist #Edit_box .form_field [type="radio"]:disabled:checked + label:after {
  background: #aaa;
}
#Postlist #Edit_box .form_field .datetimepicker input[type=text] {
  width: 55% !important;
  padding: 0px 15px;
  text-align: center;
}
#Postlist #Edit_box .form_field .datetimepicker span {
  display: none;
}
#Postlist #Edit_box .button_box {
  overflow: hidden;
  margin: 0 auto;
  width: 214px;
}
#Postlist #Edit_box .button_box li {
  float: left;
  margin-right: 10px;
}
#Postlist #Edit_box .button_box li:last-child {
  margin-right: 0;
}
.button_box {
  overflow: hidden;
}
.button_box .left {
  float: left;
}
.button_box .right {
  float: right;
}
.button_green a {
  border-radius: 51px;
  background-color: #41b883;
  color: #FFF;
  padding: 10px;
  width: 102px;
  text-align: center;
  font-size: 12px;
  display: block;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}
.button_green a:hover {
  background-color: #63daa5;
}
.search_button {
  font-size: 12px;
}
.search_button input {
  outline: none;
}
.search_button input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  font-family: inherit;
  font-size: 12px;
}
.search_button input::-webkit-search-decoration,
.search_button input::-webkit-search-cancel-button {
  display: none;
}
.search_button input[type=search] {
  background: #ededed url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
  border: solid 1px #ccc;
  padding: 9px 20px 7px 36px;
  width: 55px;
  border-radius: 10em;
  -webkit-transition: all .5s;
  transition: all .5s;
}
.search_button input[type=search]:focus {
  width: 130px;
  background-color: #fff;
  border-color: #41b883;
  -webkit-box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
  box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
}
.search_button input:-moz-placeholder {
  color: #999;
}
.search_button input::-webkit-input-placeholder {
  color: #999;
}
#Login {
  width: 1000px;
  background-color: #FFF;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* helpers/hidden.css */
  /* helpers/icon.css */
  /* layout/base.css */
  /* modules/anchor.css */
  /* modules/form.css */
  /* modules/login.css */
  /* modules/text.css */
}
#Login #loginInner {
  background-color: #FFF;
  width: 450px;
  margin: 40px auto auto;
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
          box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  padding: 0px 70px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -214px;
  margin-top: -220px;
}
#Login .wowLogo {
  position: absolute;
  left: 40%;
  top: -47px;
}
#Login .logo_gp {
  margin: 50px 0;
}
#Login .logo_gp img {
  display: block;
  margin: 0 auto;
}
#Login .grid {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--gridMaxWidth);
  width: var(--gridWidth);
}
#Login .hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
#Login :root {
  --iconFill: var(--baseColor);
}
#Login .icons {
  display: none;
}
#Login .icon {
  display: inline-block;
  fill: var(--iconFill);
  font-size: 12px;
  height: 1em;
  vertical-align: middle;
  width: 1em;
}
#Login :root {
  --htmlFontSize: 12px;
  --bodyBackgroundColor: #2c3338;
  --bodyColor: var(--baseColor);
  --bodyFontFamily: 'Open Sans';
  --bodyFontFamilyFallback: sans-serif;
  --bodyFontSize: 0.875rem;
  --bodyFontWeight: 400;
  --bodyLineHeight: 1.5;
}
#Login * {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}
#Login :root {
  --anchorColor: #eee;
}
#Login a {
  color: var(--anchorColor);
  outline: 0;
  text-decoration: none;
}
#Login a:focus,
#Login a:hover {
  text-decoration: underline;
}
#Login :root {
  --formFieldMargin: 0.875rem;
}
#Login input {
  background-image: none;
  border: 0;
  color: inherit;
  font: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
#Login input[type='submit'] {
  cursor: pointer;
}
#Login .form input[type='password'],
#Login .form input[type='text'],
#Login .form input[type='submit'] {
  width: 100%;
}
#Login .form__field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: var(--formFieldMargin);
}
#Login .form__field label {
  margin-bottom: 15px;
}
#Login .form__field input {
  margin-bottom: 15px;
}
#Login .form__input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
#Login .login {
  margin-bottom: 50px;
  color: var(--loginColor);
}
#Login .login label,
#Login .login input[type='text'],
#Login .login input[type='password'],
#Login .login input[type='submit'] {
  border-radius: var(--loginBorderRadus);
  padding: 1rem;
}
#Login .login label {
  background-color: var(--loginLabelBackgroundColor);
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}
#Login .login input[type='password'],
#Login .login input[type='text'] {
  background-color: var(--loginInputBackgroundColor);
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
#Login .login input[type='password']:focus,
#Login .login input[type='password']:hover,
#Login .login input[type='text']:focus,
#Login .login input[type='text']:hover {
  background-color: #434a52;
}
#Login .login input[type='submit'] {
  background-color: #41b883;
  border-radius: 30px;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
}
#Login .login input[type='submit']:focus,
#Login .login input[type='submit']:hover {
  background-color: #59ce99;
}
#Login :root {
  --paragraphMarginBottom: 1.5rem;
  --paragraphMarginTop: 1.5rem;
}
#Login p {
  margin-bottom: var(--paragraphMarginBottom);
  margin-top: var(--paragraphMarginTop);
}
#Login .text--center {
  text-align: center;
}
#Login .error_text {
  position: relative;
  margin: 14px 0;
  text-align: center;
}
#Login .error_text span {
  font-weight: bold;
  color: #c74444;
  font-size: 12px;
}
.fade-enter-active,
.fade-leave-active {
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
.fade-enter,
.fade-leave {
  opacity: 0;
}
#Footer {
  background-color: #191919;
  position: fixed;
  bottom: 0;
  height: 50px;
  width: 100%;
  z-index: 9999;
}
/*-------------------WOWここまで--------------------------*/
/*-------------------お問い合わせフォーム--------------------------*/
/*-------------------お問い合わせフォームここまで--------------------------*/
