label {
  margin: 0;
}
/*-------------------WOW--------------------------*/
:root {
  --htmlFontSize: 100%;
  --bodyBackgroundColor: #2c3338;
  --bodyColor: var(--baseColor);
  --bodyFontFamily: 'Open Sans';
  --bodyFontFamilyFallback: sans-serif;
  --bodyFontSize: 0.875rem;
  --bodyFontWeight: 400;
  --bodyLineHeight: 1.5;
}
:root {
  --loginBorderRadus: 0.25rem;
  --loginColor: #eee;
  --loginInputBackgroundColor: #3b4148;
  --loginInputHoverBackgroundColor: #434a52;
  --loginLabelBackgroundColor: #363b41;
  --loginSubmitBackgroundColor: #ea4c88;
  --loginSubmitColor: #eee;
  --loginSubmitHoverBackgroundColor: #d44179;
}
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: var(--htmlFontSize);
  height: 100%;
}
body {
  background-color: #ececec;
  color: var(--bodyColor);
  font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
  font-size: var(--bodyFontSize);
  font-weight: var(--bodyFontWeight);
  height: 100%;
  line-height: var(--bodyLineHeight);
  margin: 0;
  min-height: 100%;
}
a {
  color: #64697a;
}
li {
  list-style: none;
}
ul {
  margin: 0;
  padding: 0;
}
#Header_line {
  background: #2c3338;
  padding: 10px;
  width: 100%;
  font-size: 5%;
  color: #FFF;
  position: relative;
  z-index: 9999;
}
#Wrapper {
  overflow: hidden;
}
#Navbar {
  overflow: hidden;
  background-color: #2c3338;
}
#Navbar .header_logo {
  width: 240px;
  margin: 12px auto;
}
#Navbar .header_logo img {
  max-width: 100%;
}
#Sidebar {
  background-color: #434a52;
  width: 16%;
  height: 800px;
}
#Postlist {
  width: 80%;
  float: right;
  margin: 2% 2%;
}
#Postlist #table-content {
  background: #fff;
  width: auto;
  height: 90%;
  margin-top: 20px;
  -webkit-box-shadow: #dcdee3 0px 0px 10px;
          box-shadow: #dcdee3 0px 0px 10px;
}
#Postlist #table-content table {
  width: 100%;
}
#Postlist #table-content thead {
  background: #41b883;
}
#Postlist #table-content thead tr td {
  color: #757e92;
  font-size: 10px;
  text-transform: uppercase;
  padding: 14px 10px;
}
#Postlist #table-content tbody tr td {
  padding: 14px 10px;
  border-bottom: #eaecee solid 1px;
}
#Postlist #table-content tbody tr:hover {
  background: #fefaf2;
}
#Postlist .name-td {
  font-size: 13px;
  font-weight: 600;
}
#Postlist .desc-td {
  font-size: 13px;
  color: #64697a;
}
#Postlist .date-td {
  text-align: right;
  font-size: 9px;
}
#Postlist .checked {
  background: #fefaf2;
}
#Postlist #credit {
  color: #76838c;
  width: 300px;
  margin: 0 auto;
  font-size: 12px;
  text-align: center;
}
.button_box {
  overflow: hidden;
}
.button_box .left {
  float: left;
}
.button_box .right {
  float: right;
}
.button_green a {
  border-radius: 51px;
  background-color: #41b883;
  color: #FFF;
  padding: 10px;
  width: 102px;
  text-align: center;
  font-size: 80%;
  display: block;
}
.search_button {
  font-size: 80%;
}
.search_button input {
  outline: none;
}
.search_button input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  font-family: inherit;
  font-size: 100%;
}
.search_button input::-webkit-search-decoration,
.search_button input::-webkit-search-cancel-button {
  display: none;
}
.search_button input[type=search] {
  background: #ededed url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
  border: solid 1px #ccc;
  padding: 7px 20px 7px 36px;
  width: 55px;
  border-radius: 10em;
  -webkit-transition: all .5s;
  transition: all .5s;
}
.search_button input[type=search]:focus {
  width: 130px;
  background-color: #fff;
  border-color: #66CC75;
  -webkit-box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
  box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
}
.search_button input:-moz-placeholder {
  color: #999;
}
.search_button input::-webkit-input-placeholder {
  color: #999;
}
#login {
  width: 1000px;
  background-color: #FFF;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* helpers/hidden.css */
  /* helpers/icon.css */
  /* layout/base.css */
  /* modules/anchor.css */
  /* modules/form.css */
  /* modules/login.css */
  /* modules/text.css */
}
#login #loginInner {
  background-color: #FFF;
  width: 450px;
  margin: 40px auto auto;
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
          box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  padding: 0px 70px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -214px;
  margin-top: -220px;
}
#login .wowLogo {
  position: absolute;
  left: 40%;
  top: -47px;
}
#login .logo_gp {
  margin: 50px 0;
}
#login .logo_gp img {
  display: block;
  margin: 0 auto;
}
#login .grid {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--gridMaxWidth);
  width: var(--gridWidth);
}
#login .hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
#login :root {
  --iconFill: var(--baseColor);
}
#login .icons {
  display: none;
}
#login .icon {
  display: inline-block;
  fill: var(--iconFill);
  font-size: 1rem;
  height: 1em;
  vertical-align: middle;
  width: 1em;
}
#login :root {
  --htmlFontSize: 100%;
  --bodyBackgroundColor: #2c3338;
  --bodyColor: var(--baseColor);
  --bodyFontFamily: 'Open Sans';
  --bodyFontFamilyFallback: sans-serif;
  --bodyFontSize: 0.875rem;
  --bodyFontWeight: 400;
  --bodyLineHeight: 1.5;
}
#login * {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}
#login :root {
  --anchorColor: #eee;
}
#login a {
  color: var(--anchorColor);
  outline: 0;
  text-decoration: none;
}
#login a:focus,
#login a:hover {
  text-decoration: underline;
}
#login :root {
  --formFieldMargin: 0.875rem;
}
#login input {
  background-image: none;
  border: 0;
  color: inherit;
  font: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
#login input[type='submit'] {
  cursor: pointer;
}
#login .form input[type='password'],
#login .form input[type='text'],
#login .form input[type='submit'] {
  width: 100%;
}
#login .form__field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: var(--formFieldMargin);
}
#login .form__field label {
  margin-bottom: 15px;
}
#login .form__field input {
  margin-bottom: 15px;
}
#login .form__input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
#login .login {
  margin-bottom: 50px;
  color: var(--loginColor);
}
#login .login label,
#login .login input[type='text'],
#login .login input[type='password'],
#login .login input[type='submit'] {
  border-radius: var(--loginBorderRadus);
  padding: 1rem;
}
#login .login label {
  background-color: var(--loginLabelBackgroundColor);
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}
#login .login input[type='password'],
#login .login input[type='text'] {
  background-color: var(--loginInputBackgroundColor);
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
#login .login input[type='password']:focus,
#login .login input[type='password']:hover,
#login .login input[type='text']:focus,
#login .login input[type='text']:hover {
  background-color: #434a52;
}
#login .login input[type='submit'] {
  background-color: #41b883;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
}
#login .login input[type='submit']:focus,
#login .login input[type='submit']:hover {
  background-color: #59ce99;
}
#login :root {
  --paragraphMarginBottom: 1.5rem;
  --paragraphMarginTop: 1.5rem;
}
#login p {
  margin-bottom: var(--paragraphMarginBottom);
  margin-top: var(--paragraphMarginTop);
}
#login .text--center {
  text-align: center;
}
/*-------------------WOWここまで--------------------------*/
/*-------------------お問い合わせフォーム--------------------------*/
/*-------------------お問い合わせフォームここまで--------------------------*/
