    <input type="text" class="w80 dateScript" id="{{$start_column}}" name="{{$start_column}}_d" value="{{$start_date|escape}}">
    <select name="{{$start_column}}_t" class="w80">
        {{section name=time start=0 loop=24}}
        <option value="{{$smarty.section.time.index|string_format:'%02d:00:00'}}"{{if $smarty.section.time.index|string_format:'%02d:00:00' eq $start_time}} selected="selected"{{/if}}>{{$smarty.section.time.index|string_format:'%02d:00'}}</option>
        {{/section}}
    </select>
    ～    
    <input type="text" class="w80 dateScript" id="{{$end_column}}" name="{{$end_column}}_d" value="{{$end_date|escape}}">
    <select name="{{$end_column}}_t" class="w80">
        {{section name=time start=0 loop=24}}
        <option value="{{$smarty.section.time.index|string_format:'%02d:00:00'}}"{{if $smarty.section.time.index|string_format:'%02d:00:00' eq $end_time}} selected="selected"{{/if}}>{{$smarty.section.time.index|string_format:'%02d:00'}}</option>
        {{/section}}
    </select>

    <input type="checkbox" name="{{$always_check_column}}[]" id="{{$always_check_column}}" value="1"{{if $always_check_value neq ''}}checked="checked"{{/if}}>
    <label for="{{$always_check_column}}" class=""><span class="w30">無期限</span></label>
<script type="text/javascript">
(function($) {
    $(function(){
        $('#{{$end_column}}-div').hide();
        $('#{{$always_check_column}}-div').hide();
    });
})(jQuery);
</script>