@bgGray: #eff1f3;
@bgDark: #3c3d3f;
@bgDark2: #434a52;
@offWhite: #ececec;
@Gray: #d0d0d0;
@vueGreen: #41b883;
@vueGreen_hover: #59ce99;
@textColor: #64697a;
@wowBlack: #2c3338;
@codepenBlack: #191919;
@codepenGray: #373737;
@cautionRed: #ea2c00;
@white: #fffdfd;

label {
	margin: 0;
}

/*-------------------WOW--------------------------*/
:root {
	--htmlFontSize: 100%;

	--bodyBackgroundColor: #2c3338;
	--bodyColor: var(--baseColor);
	--bodyFontFamily: 'Open Sans';
	--bodyFontFamilyFallback: sans-serif;
	--bodyFontSize: 0.875rem;
	--bodyFontWeight: 400;
	--bodyLineHeight: 1.5;
}

:root {
	--loginBorderRadus: 0.25rem;
	--loginColor: #eee;

	--loginInputBackgroundColor: #3b4148;
	--loginInputHoverBackgroundColor: #434a52;

	--loginLabelBackgroundColor: #363b41;

	--loginSubmitBackgroundColor: #ea4c88;
	--loginSubmitColor: #eee;
	--loginSubmitHoverBackgroundColor: #d44179;
}

html {
	box-sizing: border-box;
	font-size: 12px;
	height: 100%;
}

body {
	background-color: @offWhite;
	color: var(--bodyColor);
	//font-family: var(--bodyFontFamily), var(--bodyFontFamilyFallback);
	font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
	font-size: 12px;
	font-weight: var(--bodyFontWeight);
	height: 100%;
	line-height: var(--bodyLineHeight);
	margin: 0;
	min-height: 100%;
}

a {
	color: @textColor;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

li {
	list-style: none;
}

ul {
	margin: 0;
	padding: 0;
}

/*hoverアニメ*/
.hover_anime(@param) {
	-webkit-transition: all 200ms ease-in-out;
	-moz-transition: all 200ms ease-in-out;
	-o-transition: all 200ms ease-in-out;
	-ms-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;
			
	&:hover{
		background-color: @param + #222222;
	}
}

.box-shadow01 {	
	-webkit-box-shadow: 0 1px 3px hsla(0,0%,50%,.2);
	box-shadow: 0 1px 3px hsla(0,0%,50%,.2);
}

#Header_line {
	background: @codepenBlack;
	padding: 10px;
	width: 100%;
	font-size: 12px;
	color: #FFF;
	position: relative;
	z-index: 9999;
}

#Wrapper {
	overflow: hidden;
}

#Navbar {
	overflow: hidden;
	background-color: @codepenBlack;
	color: @Gray;
	position: fixed;
	width: 100%;
	padding: 11px;
	z-index: 9999;
	font-size: 12px;
	
	a {
		color: @Gray;
	}
	
	.header_logo {
		width: 240px;
		margin-left: 10px;
	    font-size: 113%;
		
		span {
			font-family: Impact;
			font-style: italic;
			color: @offWhite;
			margin-left: 10px;
			font-size: 200%;
		}
		
		img {
			max-width: 100%;
		}
	}

	.icon {
		display: inline-block;
		fill: var(--iconFill);
		font-size: 12px;
		height: 20px;
		vertical-align: middle;
		width: 1em;
	}

	.icons {
		display: none;
	}

	.button a{
		border-radius: 51px;
		background-color: @codepenGray;
		padding: 10px;
		width: 102px;
		text-align: center;
		display: block;
		.hover_anime(@codepenGray);
	}

	.navbar-right {
		margin-right: 0;
		
		.auther {
				margin: 7px 20px 0 0;
		}

		li {
			float: left;
			color: @offWhite;
			margin: 0 10px;
			
			a {
				color: @offWhite;
			}
		}
	}
}


#Loading {
	position: fixed;
	background-color: rgba(53, 53, 53, 0.8);
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	/* display: none; */
	overflow: auto;
	z-index: 99999;

	.loading {
		width:160px;
		height:160px;
		border-radius:150px;
		border:15px solid #fff;
		border-top-color: @vueGreen;
		box-sizing:border-box;
		position: fixed;
		top:50%;left:50%;
		margin-top:-80px;
		margin-left:-80px;
		animation:loading 1.2s linear infinite;
		-webkit-animation:loading 1.2s linear infinite;
	}
	@keyframes loading{
		0%{transform:rotate(0deg)}
		100%{transform:rotate(360deg)}
	}
	@-webkit-keyframes loading{
		0%{-webkit-transform:rotate(0deg)}
		100%{-webkit-transform:rotate(360deg)}
	}
}

.loading_small {
	position: relative;
	top: 15%;
	
	.loading {
		width:30px;
		height:30px;
		border-radius:150px;
		border: 3px solid #fff;
		border-top-color: @vueGreen;
		box-sizing:border-box;
		position: absolute;
		left:45%;
		animation:loading 1.2s linear infinite;
		-webkit-animation:loading 1.2s linear infinite;
	}
	@keyframes loading{
		0%{transform:rotate(0deg)}
		100%{transform:rotate(360deg)}
	}
	@-webkit-keyframes loading{
		0%{-webkit-transform:rotate(0deg)}
		100%{-webkit-transform:rotate(360deg)}
	}
}

.overlay {
	position: absolute;
	background: rgba(220, 220, 220, 0.8);
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 100;
	align-items: center;
	justify-content: center;
	transition: opacity 1s ease .4s;
}
.loading_enter {
	display: flex;
	opacity: 1;
	animation: router-transition-in 0.4s;
}
.loading_leave {
	display: flex;
	opacity: 0;
}

.loading-anime {
	width: 18px;
	height: 18px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border: 2px solid transparent;
	border-top-color: red;
	border-left-color: red;
	border-radius: 50%;
	-webkit-animation: nprogress-spinner .4s linear infinite;
	animation: nprogress-spinner .4s linear infinite;
}

#Sidebar {
	@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');
	@import url('//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css');

	background-color: @codepenBlack;
	width: 16%;
	padding: 0;
	position: fixed;
	top: 60px;
	height: 100%;
	font-size: 12px;
	z-index: 9999;
	
	#Auther {
		margin-top: 10px;
		
		.autherImg {
			//background: #afafaf;
			height: 110px;
			width: 110px;
			margin: 0 auto;
			margin-bottom: 10px;
			overflow: hidden;
			
			img {
				max-width: 100%;
				border-radius: 50%;
				//border: 6px solid @bgGray;
			}
		}
		.autherName {
			color: @offWhite;
			text-align: center;
			width: 80%;
			margin: 0 auto;
			margin-bottom: 15px;
		}
	}

	.sidebar-toggle {
		margin-left: -240px;
	}

	.sidebar {
		background-color: @codepenBlack;
		width: 100%;
		height: 100%;
		position: absolute;
		-webkit-transition: all .3s ease-in-out-out;
		-moz-transition: all .3s ease-in-out-out;
		-o-transition: all .3s ease-in-out-out;
		-ms-transition: all .3s ease-in-out-out;
		transition: all .3s ease-in-out-out;
		z-index: 100;
		
		#leftside-navigation {
			ul, ul ul {
				padding: 0;
			}
			ul {
				li {
					list-style-type: none;
					border-bottom: 1px solid rgba(255,255,255,.05);

					&.active {
						& > a {
							color: @Gray;
						}
						ul {
							overflow: hidden;
						}
					}
					a {
						color: @Gray;
						text-decoration: none;
						display: block;
						padding: 18px 0 18px 25px;
						font-size: 12px;
						outline: 0;
						-webkit-transition: all 200ms ease-in-out;
						-moz-transition: all 200ms ease-in-out;
						-o-transition: all 200ms ease-in-out;
						-ms-transition: all 200ms ease-in-out;
						transition: all 200ms ease-in-out;
						&:hover {
							background-color: @vueGreen;
						}
						span {
							display: inline-block;
						}
						i {
							width: 20px;
							.fa-angle-left, .fa-angle-right {
								padding-top: 3px;
							}
						}
					}
				}
			}
			ul ul {

				li {
					margin-bottom: 0;
					margin-left: 0;
					margin-right: 0;
					border-bottom: none;
					a {
						font-size: 12px;
						padding-top: 13px;
						padding-bottom: 13px;
						color: @Gray;
					}
				}
			}
		}
	}
}

#Main {
	padding-top: 60px;
	padding-bottom: 50px;
	overflow: hidden;
}

#Postlist {
	width: 80%;
	float: right;
	margin: 2% 2%;
	
	#Post_title {
		font-size: 12px;
		padding: 5px;
		font-weight: bold;
		margin-bottom: 0;
		margin-right: 10px;
		border-bottom: 3px solid @vueGreen;
	}

	#DropDownEdit {
		//background: @codepenBlack;

		.dropdown {
			width: 90px;
			font-size: 11px;
			display: inline-block;
			margin-right: 10px;
			position: relative;
		}
		.dropdown.toggle > input {
			display: none;
		}
		.dropdown > a, .dropdown.toggle > label {
		}
		.dropdown > a::after, .dropdown.toggle > label::after {
			content: "";
			float: right;
			margin: 15px 15px 0 0;
			width: 0;
			height: 0;
			border-left: 5px solid transparent;
			border-right: 5px solid transparent;
			border-top: 10px solid #fff;
		}
		.dropdown ul {
			list-style-type: none;
			display: block;
			margin: 0;
			padding: 0;
			position: absolute;
			width: 100%;
			//box-shadow: 0 6px 5px -5px rgba(0,0,0,0.3);
			overflow: hidden;
			z-index: 9998;
		}
		.dropdown a, .dropdown.toggle > label {
			display: block;
			padding: 0 0 0 10px;
			text-decoration: none;
			line-height: 40px;
			text-transform: uppercase;
			color: #fff;
			background: @vueGreen;
		}
		.dropdown li {
			height: 0;
			overflow: hidden;
			transition: all 200ms;
			
			a{
				.hover_anime(@vueGreen);
			}
		}
		.dropdown.hover li {
			transition-delay: 200ms;
		}
		// .dropdown li:first-child a {
		// 	border-radius: 2px 2px 0 0;
		// }
		// .dropdown li:last-child a {
		// 	border-radius: 0 0 2px 2px;
		// }
		.dropdown li:first-child a::before {
			content: "";
			display: block;
			position: absolute;
			width: 0;
			height: 0;
			border-left: 10px solid transparent;
			border-right: 10px solid transparent;
			border-bottom: 10px solid @vueGreen;
			margin: -10px 0 0 30px;
		}
		.dropdown a:hover, .dropdown.toggle > label:hover, .dropdown.toggle > input:checked ~ label {
			background-color: @vueGreen;
		}
		// .dropdown > a:hover::after, .dropdown.toggle > label:hover::after, .dropdown.toggle > input:checked ~ label::after {
		// 	border-top-color: #fff;
		// }
		.dropdown li:first-child a:hover::before {
			border-bottom-color: @vueGreen;
		}
		.dropdown.hover:hover li, .dropdown.toggle > input:checked ~ ul li {					
			height: 40px;
		}
		.dropdown.hover:hover li:first-child, .dropdown.toggle > input:checked ~ ul li:first-child {
			margin-top: 15px;
		}
	}

	#table-content {
		width: auto;
	    background: @white;
		height: 90%;
		//box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
		// box-shadow: #dcdee3 0px 0px 10px;
		
		td {
			a {
				color: #000;
				display: block;
			}
		}

		table {
			width: 100%;
		}

		thead {
			background: @codepenBlack;
			color: #FFF;

			tr {
				
				td {
					color: @offWhite;
					font-size: 12px;
					text-transform: uppercase;
					padding: 14px 10px;
				}
			}
		}

		tbody {
			tr td {
				padding: 14px 10px;
				font-size: 12px;
				border-bottom: 1px solid #d8d8d8;
			}

			tr:hover {
				-webkit-transition: all 200ms ease-in-out;
					 -moz-transition: all 200ms ease-in-out;
						-ms-transition: all 200ms ease-in-out;
						 -o-transition: all 200ms ease-in-out;
								transition: all 200ms ease-in-out;
				background: @bgGray;
			}
		}
	}

	.check-td-tr {
		width: 3%;
		
		input {
			display: none;
		}

		[type="checkbox"]:checked,
		[type="checkbox"]:not(:checked)
		{
			position: absolute;
			left: -9999px;
		}
		[type="checkbox"]:checked + label,
		[type="checkbox"]:not(:checked) + label
		{
			position: relative;
			cursor: pointer;
			line-height: 20px;
			display: block;
			color: #666;
			top: -7px;
			left: 4px;
		}
		[type="checkbox"]:checked + label:before,
		[type="checkbox"]:not(:checked) + label:before
		{
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			width: 15px;
			height: 15px;
			border: 1px solid #ddd;
			background: #fff;
		}
		[type="checkbox"]:checked + label:after,
		[type="checkbox"]:not(:checked) + label:after
		{
			content: '';
			width: 7px;
			height: 7px;
			background: @vueGreen;
			position: absolute;
			top: 4px;
			left: 4px;
			-webkit-transition: all 0.2s ease;
			-moz-transition: all 0.2s ease;
			-o-transition: all 0.2s ease;
			transition: all 0.2s ease;
		}
		[type="checkbox"]:not(:checked) + label:after
		{
			opacity: 0;
			-webkit-transform: scale(0);
			-moz-transform: scale(0);
			-o-transform: scale(0);
			-ms-transform: scale(0);
			transform: scale(0);
		}
		[type="checkbox"]:checked + label:after
		{
			opacity: 1;
			-webkit-transform: scale(1);
			-moz-transform: scale(1);
			-o-transform: scale(1);
			-ms-transform: scale(1);
			transform: scale(1);
		}
		[type="checkbox"]:disabled:checked + label:before,
		[type="checkbox"]:disabled:not(:checked) + label:before
		{
			border-color: #ccc;
			background-color: #eee;
		}
		[type="checkbox"]:disabled:checked + label:after
		{
			background: #aaa;
		}

	}

	.id-td {
		width: 3%;
	}

	.name-td {
		width: 40%;
	}

	.date-td {
		width: 8%;
	}

	.acknowledge-td {
		width: 8%;
	}

	.checked {
		background: @bgGray;
	}

	#credit {
		width: 300px;
		margin: 0 auto;
		font-size: 12px;
		text-align: center;
	}

	#Pagination {
		text-align: center;
		//background: @codepenBlack;
		margin-top: 20px;
	
		.pager-list,
		.pager-item {
			display: inline-block;
			margin: 0;
			padding: 0;
		}

		.pager-list {
			background: #333;
		}

		.pager-item a {
			display: block;
			padding: 12px;
			color: #fff;
			text-decoration: none;
		}

		.pager-item-active span,
		.pager-item {
			.hover_anime(@codepenBlack);
		}
	}

	#Edit_box {
		margin: 0 auto;
		padding: 25px;
		margin: 20px 0;
		.box-shadow01;
	    background: @white;
		
		.title_box {
			overflow: hidden;
			
			.form_title {
				font-weight: bold;
				margin-bottom: 10px;
				font-size: 12px;
				float: left;
			}
				
			.required::after {
				font-size: 12px;
				content: '*';
				padding-left: 4px;
				color: @cautionRed;
			}

			.error_text {
				color: @cautionRed;
				float: left;
				margin-left: 10px;
			}
		}
		
		.form_field {
			margin-bottom: 30px;
			
			ul {
				li{
					margin-bottom: 10px;
					
					&:last-child{
						margin-bottom: 0;
					}
				}
			}
			
			/*------- input[text], input[password] -------*/
			input {
				outline: none;
			}
			input[type=text],
			input[type=password], {
				-webkit-appearance: textfield;
				-webkit-box-sizing: content-box;
				font-family: inherit;
				font-size: 12px;
				width: 90%;
			}
			input::-webkit-text-decoration,
			input::-webkit-text-cancel-button {
				display: none; 
			}

			input[type=text],
			input[type=password], {
				border: solid 1px #ccc;
				padding: 10px 20px;
				
				-webkit-border-radius: 10em;
				-moz-border-radius: 10em;
				border-radius: 10em;
				
				-webkit-transition: all .5s;
				-moz-transition: all .5s;
				transition: all .5s;
			}
			input[type=text]:focus,
			input[type=password]:focus, {
				background-color: #fff;
				border-color: @vueGreen;
				
				-webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
				-moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
				box-shadow: 0 0 5px rgba(109,207,246,.5);
			}

			input[type=password] {
				width: 20%;
			}

			input:-moz-placeholder {
				color: #999;
			}
			input::-webkit-input-placeholder {
				color: #999;
			}

			/*------- textarea -------*/
			
			#editor {
				.view-area {
					border: solid 1px #ccc;
					padding: 20px;
					background: #fff;
					overflow: auto;
				}
			}
			
			textarea, #editor div {
				display: inline-block;
				width: 49%;
				height: 300px;
				vertical-align: top;
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
				box-sizing: border-box;
				//padding: 20px;
			}
			
			textarea {
				border: none;
				// -webkit-border-radius: 1em;
				// -moz-border-radius: 1em;
				// border-radius: 1em;
				border: solid 1px #ccc;
				resize: none;
				outline: none;
				background-color: #f6f6f6;
				font-size: 14px;
				font-family: 'Monaco', courier, monospace;
				padding: 20px;
				
				-webkit-transition: all .5s;
				-moz-transition: all .5s;
				transition: all .5s;
			}
			// textarea {
			// 	-webkit-appearance: textfield;
			// 	-webkit-box-sizing: content-box;
			// 	font-family: inherit;
			// 	font-size: 12px;
			// 	width: 90%;
			// 	outline: none;
			// 	border: solid 1px #ccc;
			// 	padding: 10px 20px;
			// 	resize: none;
			// 	-webkit-border-radius: 25px;
			// 	-moz-border-radius: 25px;
			// 	border-radius: 25px;
			// 	-webkit-transition: all .5s;
			// 	-moz-transition: all .5s;
			// 	transition: all .5s;
			// }
			textarea::-webkit-text-decoration,
			textarea::-webkit-text-cancel-button {
				display: none; 
			}
			textarea:focus {
				background-color: #fff;
				border-color: @vueGreen;
				
				-webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
				-moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
				box-shadow: 0 0 5px rgba(109,207,246,.5);
			}

			textarea:-moz-placeholder {
				color: #999;
			}
			textarea::-webkit-input-placeholder {
				color: #999;
			}

			/*------- file -------*/
			.fileup_field {

				img {
					max-width: 300px;
					height: auto;
					margin-top: 10px;
					-webkit-transition: all .5s;
					-moz-transition: all .5s;
					transition: all .5s;
				}

				.btn-tertiary {
					color: @offWhite;
					padding: 0;
					line-height: 33px;
					width: 102px;
					display: block;
					background-color: @vueGreen;
						border-radius: 51px;
				}
				.btn-tertiary:hover, .btn-tertiary:focus {
					.hover_anime(@vueGreen);
				}

				input[type='file'] {
					width: 0.1px;
					height: 0.1px;
					opacity: 0;
					overflow: hidden;
					position: absolute;
					z-index: -1;
				}
				input[type='file'] + .js-labelFile {
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
					padding: 0 10px;
					cursor: pointer;
				}
				input[type='file'] + .js-labelFile .icon:before {
					content: "\f093";
				}
				input[type='file'] + .js-labelFile.has-file .icon:before {
					content: "\f00c";
					color: #5AAC7B;
				}
			}

			/*------- checkbox -------*/
			[type="checkbox"]:checked,
			[type="checkbox"]:not(:checked)
			{
				position: absolute;
				left: -9999px;
			}
			[type="checkbox"]:checked + label,
			[type="checkbox"]:not(:checked) + label
			{
				position: relative;
				cursor: pointer;
				line-height: 20px;
				display: block;
				color: #666;
				padding-left: 30px;
			}
			[type="checkbox"]:checked + label:before,
			[type="checkbox"]:not(:checked) + label:before
			{
				content: '';
				position: absolute;
				left: 0;
				top: 0;
				width: 20px;
				height: 20px;
				border: 1px solid #ddd;
				background: #fff;
			}
			[type="checkbox"]:checked + label:after,
			[type="checkbox"]:not(:checked) + label:after
			{
				content: '';
				width: 10px;
				height: 10px;
				background: @vueGreen;
				position: absolute;
				top: 5px;
				left: 5px;
				-webkit-transition: all 0.2s ease;
				-moz-transition: all 0.2s ease;
				-o-transition: all 0.2s ease;
				transition: all 0.2s ease;
			}
			[type="checkbox"]:not(:checked) + label:after
			{
				opacity: 0;
				-webkit-transform: scale(0);
				-moz-transform: scale(0);
				-o-transform: scale(0);
				-ms-transform: scale(0);
				transform: scale(0);
			}
			[type="checkbox"]:checked + label:after
			{
				opacity: 1;
				-webkit-transform: scale(1);
				-moz-transform: scale(1);
				-o-transform: scale(1);
				-ms-transform: scale(1);
				transform: scale(1);
			}
			[type="checkbox"]:disabled:checked + label:before,
			[type="checkbox"]:disabled:not(:checked) + label:before
			{
				border-color: #ccc;
				background-color: #eee;
			}
			[type="checkbox"]:disabled:checked + label:after
			{
				background: #aaa;
			}

			/*------- radiobutton -------*/
			[type="radio"]:checked,
			[type="radio"]:not(:checked)
			{
				position: absolute;
				left: -9999px;
			}
			[type="radio"]:checked + label,
			[type="radio"]:not(:checked) + label
			{
				position: relative;
				cursor: pointer;
				line-height: 20px;
				display: block;
				color: #666;
				padding-left: 30px;
			}
			[type="radio"]:checked + label:before,
			[type="radio"]:not(:checked) + label:before
			{
				content: '';
				position: absolute;
				left: 0;
				top: 0;
				width: 20px;
				height: 20px;
				border: 1px solid #ddd;
				background: #fff;
				-webkit-border-radius: 50%;
								border-radius: 50%;
			}
			[type="radio"]:checked + label:after,
			[type="radio"]:not(:checked) + label:after
			{
				content: '';
				width: 10px;
				height: 10px;
				background: @vueGreen;
				position: absolute;
				top: 5px;
				left: 5px;
				-webkit-transition: all 0.2s ease;
				-moz-transition: all 0.2s ease;
				-o-transition: all 0.2s ease;
				transition: all 0.2s ease;
				-webkit-border-radius: 50%;
								border-radius: 50%;
			}
			[type="radio"]:not(:checked) + label:after
			{
				opacity: 0;
				-webkit-transform: scale(0);
				-moz-transform: scale(0);
				-o-transform: scale(0);
				-ms-transform: scale(0);
				transform: scale(0);
			}
			[type="radio"]:checked + label:after
			{
				opacity: 1;
				-webkit-transform: scale(1);
				-moz-transform: scale(1);
				-o-transform: scale(1);
				-ms-transform: scale(1);
				transform: scale(1);
			}
			[type="radio"]:disabled:checked + label:before,
			[type="radio"]:disabled:not(:checked) + label:before
			{
				border-color: #ccc;
				background-color: #eee;
			}
			[type="radio"]:disabled:checked + label:after
			{
				background: #aaa;
			}

			.datetimepicker {

				input[type=text] {		
					width: 55% !important;
					padding: 0px 15px;
					text-align: center;
				}

				span {
					display: none;
				}
			}
		}
			
		#Check {
			ul {
				overflow: hidden;
				
				li {
					float: left;
					margin-right: 22px;
				}
			}
		}

		#Radio {
			ul {
				overflow: hidden;
				
				li {
					float: left;
					margin-right: 12px;
				}
			}
		}

		.error {
		    
			.error_color {
				border: 1px solid #f4838c !important;
				// background-color: #ffefef !important;
			}

			input {
				.error_color;
			}

			textarea {
				.error_color;
			}

			label {
				&:before{
					.error_color;
				}
			}
		}

		.button_box {
			overflow: hidden;
			margin: 0 auto;
			width: 214px;
			
			li {
				float: left;
				margin-right: 10px;
				
				&:last-child {
					margin-right: 0;
				}
			}
		}
	}
}

.button_box {
	overflow: hidden;
	margin-bottom: 30px;
	
	.left {
		float: left;
	}

	.right {
		float: right;
	}
}

.button_green a{
	border-radius: 51px;
	background-color: @vueGreen;
	color: #FFF;
	padding: 10px;
	width: 102px;
	text-align: center;
	font-size: 12px;
	display: block;
	.hover_anime(@vueGreen);
}

.search_button {
	font-size: 12px;
		
	input {
		outline: none;
	}
	input[type=search] {
		-webkit-appearance: textfield;
		-webkit-box-sizing: content-box;
		font-family: inherit;
		font-size: 12px;
	}
	input::-webkit-search-decoration,
	input::-webkit-search-cancel-button {
		display: none; 
	}

	input[type=search] {
		background: #ededed url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
		border: solid 1px #ccc;
		padding: 9px 20px 7px 36px;
		width: 55px;
		
		-webkit-border-radius: 10em;
		-moz-border-radius: 10em;
		border-radius: 10em;
		
		-webkit-transition: all .5s;
		-moz-transition: all .5s;
		transition: all .5s;
	}
	input[type=search]:focus {
		width: 130px;
		background-color: #fff;
		border-color: @vueGreen;
		
		-webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
		-moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
		box-shadow: 0 0 5px rgba(109,207,246,.5);
	}

	input:-moz-placeholder {
		color: #999;
	}
	input::-webkit-input-placeholder {
		color: #999;
	}
}

#Login {
	width: 1000px;
	background-color: #FFF;
	margin: 0 auto;
	box-sizing: border-box;
	
	#loginInner {
		background-color: #FFF;
		width: 450px;
		margin: 40px auto auto;
		box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
		padding: 0px 70px;
		position: absolute;
		left: 50%;
		top: 45%;
		margin-left: -214px;
		margin-top: -220px;
	}

	.wowLogo {
		position: absolute;
		left: 40%;
		top: -47px;
	}

	.logo_gp {
		margin: 50px 0;

		
		img {
			display: block;
			margin: 0 auto;
		}
	}
	
	.grid {
		margin-left: auto;
		margin-right: auto;
		max-width: var(--gridMaxWidth);
		width: var(--gridWidth);
	}

	/* helpers/hidden.css */

	.hidden {
		border: 0;
		clip: rect(0 0 0 0);
		height: 1px;
		margin: -1px;
		overflow: hidden;
		padding: 0;
		position: absolute;
		width: 1px;
	}

	/* helpers/icon.css */

	:root {
		--iconFill: var(--baseColor);
	}

	.icons {
		display: none;
	}

	.icon {
		display: inline-block;
		fill: var(--iconFill);
		font-size: 12px;
		height: 1em;
		vertical-align: middle;
		width: 1em;
	}

	/* layout/base.css */

	:root {
		--htmlFontSize: 12px;

		--bodyBackgroundColor: #2c3338;
		--bodyColor: var(--baseColor);
		--bodyFontFamily: 'Open Sans';
		--bodyFontFamilyFallback: sans-serif;
		--bodyFontSize: 0.875rem;
		--bodyFontWeight: 400;
		--bodyLineHeight: 1.5;
	}

	* {
		box-sizing: inherit;
	}

	/* modules/anchor.css */

	:root {
		--anchorColor: #eee;
	}

	a {
		color: var(--anchorColor);
		outline: 0;
		text-decoration: none;
	}

	a:focus,
	a:hover {
		text-decoration: underline;
	}

	/* modules/form.css */

	:root {
		--formFieldMargin: 0.875rem;
	}

	input {
		background-image: none;
		border: 0;
		color: inherit;
		font: inherit;
		margin: 0;
		outline: 0;
		padding: 0;
		transition: background-color 0.3s;
	}

	input[type='submit'] {
		cursor: pointer;
	}

	.form input[type='password'],
	.form input[type='text'],
	.form input[type='submit'] {
		width: 100%;
	}

	.form__field {
		display: flex;
		margin: var(--formFieldMargin);
		
		label {margin-bottom: 15px;}
		input {margin-bottom: 15px;}
	}

	.form__input {
		flex: 1;
	}

	/* modules/login.css */

	.login {
		margin-bottom: 50px;
		color: var(--loginColor);
	}

	.login label,
	.login input[type='text'],
	.login input[type='password'],
	.login input[type='submit'] {
		border-radius: var(--loginBorderRadus);
		padding: 1rem;
	}

	.login label {
		background-color: var(--loginLabelBackgroundColor);
		border-bottom-right-radius: 0;
		border-top-right-radius: 0;
		padding-left: 1.25rem;
		padding-right: 1.25rem;
	}

	.login input[type='password'],
	.login input[type='text'] {
		background-color: var(--loginInputBackgroundColor);
		border-bottom-left-radius: 0;
		border-top-left-radius: 0;
	}

	.login input[type='password']:focus,
	.login input[type='password']:hover,
	.login input[type='text']:focus,
	.login input[type='text']:hover {
		background-color: @bgDark2;
	}

	.login input[type='submit'] {
		background-color: @vueGreen;
		-webkit-border-radius: 30px;
						border-radius: 30px;
		color: #fff;
		font-weight: 700;
		text-transform: uppercase;
	}

	.login input[type='submit']:focus,
	.login input[type='submit']:hover {
		background-color: @vueGreen_hover;
	}

	/* modules/text.css */

	:root {
		--paragraphMarginBottom: 1.5rem;
		--paragraphMarginTop: 1.5rem;
	}

	p {
		margin-bottom: var(--paragraphMarginBottom);
		margin-top: var(--paragraphMarginTop);
	}

	.text--center {
		text-align: center;
	}

	.error_text {
		position: relative;
		margin: 14px 0;
		text-align: center;
		
		span {
			font-weight: bold;
			color: #c74444;
			font-size: 12px;
		}
	}
}

// transition
.fade-enter-active, .fade-leave-active {
	transition: opacity .5s
}
.fade-enter, .fade-leave {
	opacity: 0
}

#Footer {
	background-color: @codepenBlack;
	position: fixed;
	bottom: 0;
	height: 50px;
	width: 100%;
	z-index: 9999;
}


/*-------------------WOWここまで--------------------------*/


/*-------------------ブログページ--------------------------*/

#BlogBox {
	header {
	    background: @white;
		position: relative;
		top: 0;
		width: 100%;
		height: 80px;
		.box-shadow01;
		
		#Logo {
			text-align: center;
			font-weight: bold;
		    font-family: Impact;
		    font-style: italic;
		    font-size: 400%;
		    position: absolute;
		    top: 2px;
		    left: 0;
		    right: 0;
		    
		    a {
		    	text-decoration: none;
		    	color: #000;
		    }
		}

		.button_green a{
			position: absolute;
			right: 17px;
			top: 0px;
			//margin: 17px 21px 0;
		}
	}

	.button_green a{
	    font-family: Impact;
	    font-style: italic;
		font-size: 120%;
	    margin: 20px auto 0;
	}

	.postContent {
		margin: 0 auto;
		padding: 25px;
		margin: 20px;
		.box-shadow01;
	    background: @white;
	    
		//記事一覧
	    .posts {
	    	margin-bottom: 10px;
	    	padding: 10px 0;
	        border-bottom: 1px solid #d8d8d8;
	        overflow: hidden;
	        
	        &:last-child {
	        	margin-bottom: 0;
	        	border-bottom: none;
	        }

			.title_box {
				font-size: 110%;
			    float: left;
			    width: 85%;
			    
			    a{
					display: block;
			    }
			}

			.time_box {
				float: right;
			}
	    }

		//個別記事
	    .post {
	    	overflow: hidden;
	    	
			.title_box {
				font-size: 230%;
	        	border-bottom: 1px solid #d8d8d8;
				margin-bottom: 20px;
				padding-bottom: 10px;
			}

			.time_box {
				overflow: hidden;
				display: block;
				margin-bottom: 20px;
				
				p {
					float: right;
				}
			}

			.img_box {
				margin-bottom: 20px;
				
				img {
					display: block;
					max-width: 50%;
					margin: 0 auto;
				}
			}

			.text_box{
				margin: 0 auto;
				margin-bottom: 10px;
				font-size: 140%;
				width: 95%;
			}
	    }
	}
}


/*-------------------お問い合わせフォーム--------------------------*/
// li {
// 	list-style: none;
// }

// ul {
// 	padding: 0;
// }

// #Form_box {
// 	margin: 30px auto 60px;
// 	width: 1000px;
// 	padding: 25px;
// 	border: 2px solid #ddd;
// 	background-color: #FFF;

// 	.form_title {
// 		margin-bottom: 15px;
// 		font-size: 120%;
// 		text-align: center;
// 		font-weight: bold;
// 	}

// 	dl {
// 		display: table;
// 		width: 100%;
			
// 		dt {
// 			display: table-cell;
// 			width: 30%;
// 			padding: 20px 3% 20px 0;
// 			text-align: right;
// 			vertical-align: top;

// 			label{
// 				span {
// 					background: #ffe100;
// 					font-size: 12px;
// 					line-height: 1;
// 					padding: 2px 4px;
// 					margin-left: 10px;
// 				}
// 			}
// 		}

// 		dd {
// 			display: table-cell;
// 			padding: 12px 0;
	
// 			input {
// 				background: @bgGray;
// 				border: none;
// 				padding: 10px;
// 				font-family: "こぶりなゴシック W3 JIS2004", "ヒラギノ角ゴ Pro W3", "HIragino Kaku Gothic Pro W3", "HIragino Kaku Gothic Pro", sans-serif !important;
// 				font-size: 15px;
// 				letter-spacing: 0.1em;
// 				color: #000;
// 			}

// 			textarea {
// 				width: 80%;
// 				background: @bgGray;
// 				border: none;
// 				padding: 10px;
// 				font-family: "こぶりなゴシック W3 JIS2004", "ヒラギノ角ゴ Pro W3", "HIragino Kaku Gothic Pro W3", "HIragino Kaku Gothic Pro", sans-serif !important;
// 				font-size: 15px;
// 				letter-spacing: 0.1em;
// 				color: #000;
// 				resize: none;
// 			}

// 			.error_text {
// 				display: block;
// 				color: #ff0000;
// 				font-size: 13px;
// 			}
// 		}

// 		.check_box {
// 			input {
// 				display: none;
// 			}

// 			label {
// 				position: relative;
// 				padding: 2px 0 2px 27px;
// 				cursor: pointer;
// 				width: 100%;
				
// 				&:before {
// 					content: "";
// 					display: block;
// 					height: 20px;
// 					width: 20px;
// 					background: url(/public/img/checkbox.png) no-repeat left top;
// 					background-size: 20px;
// 					position: absolute;
// 					top: 2px;
// 					left: 0;
// 				}
// 			}

// 			input:checked + label:before {
// 				background: url(/public/img/checkbox.png) no-repeat left bottom;
// 				background-size: 20px;
// 			}
// 		}

// 		.radio_box {
// 			input {
// 				display: none;
// 			}

// 			label {
// 				position: relative;
// 				padding: 2px 0 2px 27px;
// 				cursor: pointer;
// 				width: 100%;
				
// 				&:before {
// 					content: "";
// 					display: block;
// 					height: 20px;
// 					width: 20px;
// 					background: url(/public/img/radiobutton.png) no-repeat left top;
// 					background-size: 20px;
// 					position: absolute;
// 					top: 2px;
// 					left: 0;
// 				}
// 			}

// 			input:checked + label:before {
// 				background: url(/public/img/radiobutton.png) no-repeat left bottom;
// 				background-size: 20px;
// 			}
// 		}

// 		.select_box {
// 			padding: 9px;
// 			background: @bgGray;
// 			border: none;
// 			font-weight: bold;
// 		}

// 		.file_box {
// 			input {
// 				background: none;
// 			}
// 		}
// 	}

// 	.submit_btn {
// 		margin: 0 auto;
// 		width: 120px;
// 		margin-bottom: 10px;

// 		input{
// 			border: none;
// 			width: 100%;
// 			padding: 10px;
// 			background: #ffe100;
// 			text-align: center;
// 			color: #000;
// 			cursor: pointer;
// 			border-radius: 4px;
// 		}
// 	}
// }

// #Error_box {
// 	li {
// 		margin-bottom: 10px;
// 		display: block;
// 		color: #ff0000;
// 	}
// }
/*-------------------お問い合わせフォームここまで--------------------------*/